@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';
@import './assets/styles/fonts.scss';

html {
  overflow: auto;
}

#root {
  height: 100vh;
  display: grid;
  grid-template:
    'header header header' auto
    'section section section' 1fr
    'footer footer footer' auto/ 100% 100% 100%;
  grid-auto-flow: column;
}

body {
  font-family: 'Styrene B LC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

::-ms-reveal {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1280px;
  }
}
