@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Medium.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Light.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Bold.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-LightItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Black.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Regular.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-Thin.woff2') format('woff2'),
    url('../fonts/StyreneBLC-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-MediumItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-BlackItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-BoldItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-ThinItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Styrene B LC';
  src: url('../fonts/StyreneBLC-RegularItalic.woff2') format('woff2'),
    url('../fonts/StyreneBLC-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
